In [2]:
fruits={'apple','orange','banana'}
fruits

{'apple', 'banana', 'orange'}

In [3]:
'apple' in fruits

True

In [6]:
fruits.add('kiwi')
fruits

{'apple', 'banana', 'kiwi', 'orange'}

In [8]:
my_fruit_plate={'banana','cherry','grapes'}
#find values in the first set which are not in the second set
fruits.difference(my_fruit_plate)

{'apple', 'kiwi', 'orange'}

In [9]:
#symmetric difference:  find the values between dictionries that is only are only in one of the two sets

fruits.symmetric_difference(my_fruit_plate)

{'apple', 'cherry', 'grapes', 'kiwi', 'orange'}

In [10]:
#intersection: shows the common ones

fruits.intersection(my_fruit_plate)

{'banana'}

In [ ]:
#union: find unique values in both sets, like combining them with eliminating duplicates
fruits.union(my_fruit_plate)

{'apple', 'banana', 'cherry', 'grapes', 'kiwi', 'orange'}

In [ ]:
capitals={'Canada':'Ottawa','Turkey':'ankara'}

In [2]:
olympics_cities={2020:'Tokyo',2016:'Rio de Janiero',2012:'London'}
all_olympics_hosts={'summer':olympics_cities,'winter':{2022:'Beijing',2018:'Pyeongchang'}}

all_olympics_hosts

{'summer': {2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'},
 'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}

In [4]:
empty_dict={}
empty_set=set()

In [5]:
olympics_cities[2016]

'Rio de Janiero'

In [12]:
all_olympics_hosts['winter']
all_olympics_hosts['winter'][2018] #this for nested dictionaries
olympics_cities.get(2004,'Athens') # with get() method if it doesn't find the key it will return that default value.

In [16]:
olympics_cities.get(2005)# it is not giving an error it returns none

In [17]:
olympics_cities[2008]='Barcelona'

In [20]:
olympics_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London', 2008: 'Barcelona'}

In [21]:
del olympics_cities[2020] #deleting with the key
olympics_cities

{2016: 'Rio de Janiero', 2012: 'London', 2008: 'Barcelona'}

In [23]:
all_olympics_hosts.keys()

dict_keys(['summer', 'winter'])

In [25]:
olympics_cities.values()

dict_values(['Rio de Janiero', 'London', 'Barcelona'])

In [26]:
if 'London' in olympics_cities.values():
    print('London was a host city')
else:
    print('London was not a host city')

London was a host city

In [27]:
all_olympics_hosts['winter'].items()

dict_items([(2022, 'Beijing'), (2018, 'Pyeongchang')])

In [31]:
if 'Beijing' in all_olympics_hosts['winter'].values():
    print('Beijing was an olympic host')
else:
    print('Beijing was not a olympic host')
#if it is a nested dictionary then we have to first declare the inner key value than read the values

Beijing was an olympic host

In [32]:
vowels=['a','e', 'i', 'u']

In [33]:
for i in vowels:
    print(i)

a
e
i
u

In [37]:
for day_of_week in ['monday','tuesday','wednesday','thursday']:
    print(day_of_week)

monday
tuesday
wednesday
thursday

In [39]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [41]:
for i in range(5):
    print(i,i*2)

0 0
1 2
2 4
3 6
4 8

In [48]:
input_files=['data_01.csv','data_02.csv','data_03.csv','data_04.csv']
output_files=[]

for i in input_files:
    output_files_name = i.replace('csv','xlsx')
    output_files.append(output_files_name)
    print(output_files)

['data_01.xlsx']
['data_01.xlsx', 'data_02.xlsx']
['data_01.xlsx', 'data_02.xlsx', 'data_03.xlsx']
['data_01.xlsx', 'data_02.xlsx', 'data_03.xlsx', 'data_04.xlsx']

In [53]:
stops=['Sheppards-Yonge','Bayview','Bessarion','Leslie', 'Don Mills']
for idx, stop in enumerate(stops):
    print(idx,stop)
#enumurate while keep track of the index of each ite,

0 Sheppards-Yonge
1 Bayview
2 Bessarion
3 Leslie
4 Don Mills

In [62]:
numbers=[1,10,100,1000]

for idx,val in enumerate(numbers):
    numbers[idx]=val*2

numbers

[2, 20, 200, 2000]

In [63]:
for idx,letter in enumerate('zekiye'):
    print(idx,letter)

0 z
1 e
2 k
3 i
4 y
5 e

In [64]:
#let's try the zip

width=(28.4,19.4,70.6)
length=(14.8,45.2,45.9)

for i,j in zip(width,length):
    print(i,j)

28.4 14.8
19.4 45.2
70.6 45.9

In [65]:
countdown=9

while countdown>0:
    print(countdown)
    countdown -=1

9
8
7
6
5
4
3
2
1

In [66]:
while True:
    password=input('What is the password?')
    if password.lower() == 'open sesame':
        print('You are in!')
        break

You are in!

In [1]:
wishes =3

while wishes>0:
    wish=input('You have 3 wishes. Make a wish:')
    if 'infinite wishes' in wish.lower():
        print('you can\'t do that')
        continue
    else:
        print('your wish is granted.')
        wishes-=1
print('you have used all your wishes')

your wish is granted.
your wish is granted.
your wish is granted.
you have used all your wishes